.Weather h1,
h3,
ul {
  text-align: left;
  position: relative;
}
.Weather h1 {
  font-weight: bolder;
  font-size: 60px;
  color: #24285b;
  text-shadow: 5 5 5;
}
.Weather h3 {
  font-size: 14px;
  line-height: 1em;
}
.Weather li {
  list-style-type: none;
  text-transform: capitalize;
  text-align: center;
}
.Weather a {
  text-decoration: none;
}

.Weather .main-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 64px;
}
.Weather .general-info-container {
  padding: 15px;
  margin-top: 20px;
}
.Weather .mainData {
  text-align: left;
  font-size: 24px;
}
.Weather #current-temp-wrapper {
  text-align: center;
  position: relative;
  left: 50px;
  padding: 0px;
  margin-bottom: 0px;
}
.Weather #temp-now {
  font-size: 50px;
  text-align: center;
}
.Weather .units {
  font-size: 24px;
  position: relative;
  top: -10px;
  text-decoration: none;
}
.Weather .max-temp,
.min-temp {
  font-size: 20px;
}
.Weather .variable {
  text-align: center;
  margin-top: 0px;
  font-size: 18px;
  color: #070707;
  font-weight: 500;
}
.WeatherTemperature .temperature {
  font-size: 64px;
}
.WeatherTemperature button {
  background-color: transparent;
  font-size: 36px;
  border: none;
}
.main-icon {
  position: relative;
  left: 30px;
  top: 5px;
}
